.concept {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(../../pics/WallpaperDog-20474451.jpg) cover;

  &__article {
    width: 600px;
    height: 50%;
    margin-top: 80px;
    background-color: $secundary;
    padding: 80px;
    


    &--title{
      color: white;
    }
    &--text{
      color: white;
      text-align: justify;
    }

    &--img {
      position: absolute;
      width: 200px;
    }
  }

   
}
