.home {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../pics/mozzarestaurante.jpg);
  background-position: center center;
  justify-content: center;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;

  &__texto-cabecera {
    font-size: 4rem;
    font-family: "Dancing Script", cursive;
    color: $primary;
    opacity: 100%;
  }

  &__titulo-principal {
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
    font-family: "Vidaloka", serif;
  }

  &__icon-chef {
    display: flex;

    width: 100%;

    img {
      filter: invert(40%) sepia(7%) saturate(2827%) hue-rotate(4deg)
        brightness(101%) contrast(93%);
      width: 30px;
    }
  }

  &__titulo-secundario {
    font-family: sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 15px;
  }
}
