.text-divider,
.text-divider-black,
.text-divider-white {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: var(--text-sm);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  --text-divider-gap: 1rem;

  &::before,
  &::after {
    content: "";
    height: 1px;
    background-color: $primary;
    flex-grow: 1;
  }

  &::before {
    margin-right: var(--text-divider-gap);
  }

  &::after {
    margin-left: var(--text-divider-gap);
  }
}

.text-divider-black {
  &::before,
  &::after {
    content: "";
    height: 1px;
    background-color: black;
    flex-grow: 1;
  }
}

.text-divider-white {
  &::before,
  &::after {
    content: "";
    height: 1px;
    background-color: white;
    flex-grow: 1;
  }
}

.scroll-up {
  position: sticky;
  left: 90vw;
  bottom: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  background-color: white;
  border: black solid 1px;
  border-radius: 10px;
}


